th{
    border: solid 1px black;
    margin: 0px;
    width: 500px;
}
td{
    border: solid 1px black;
    margin: 0px;
    
}
table{
    border-spacing: 0;
    margin-bottom: 5%;
}
#first{
    font-size: 32px;
}
#classes{
    background-color: black;
    color: red;
    border:2px solid red;
}
#secound #third #fourth #fith{
    font-size: 12px;
}
.subject{
    font-size: small;
}